{% extends "base.html" %}

{% load i18n wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
  {% if page %}
    {% for translation in page.get_translations.live %}
      {% get_language_info for translation.locale.language_code as lang %}
      <a href="{% pageurl translation %}" rel="alternate" hreflang="{{ lang.code }}">
        {{ lang.name_local }}
      </a>
    {% endfor %}
  {% endif %}

  <h1>{{ page.title }}</h1>

  <p>{% translate "Category" %}: <b>{{ page.category }}</b></p>

  {% image page.image max-200x200 %}

  {{ page.body }}

  <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

{% endblock %}
